* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 0px) {
  .col-xs-1 {
    width: 8.33333%;
  }
  .col-xs-2 {
    width: 16.66667%;
  }
  .col-xs-3 {
    width: 25%;
  }
  .col-xs-4 {
    width: 33.33333%;
  }
  .col-xs-5 {
    width: 41.66667%;
  }
  .col-xs-6 {
    width: 50%;
  }
  .col-xs-7 {
    width: 58.33333%;
  }
  .col-xs-8 {
    width: 66.66667%;
  }
  .col-xs-9 {
    width: 75%;
  }
  .col-xs-10 {
    width: 83.33333%;
  }
  .col-xs-11 {
    width: 91.66667%;
  }
  .col-xs-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 540px) {
  .col-sm-1 {
    width: 8.33333%;
  }
  .col-sm-2 {
    width: 16.66667%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33333%;
  }
  .col-sm-5 {
    width: 41.66667%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33333%;
  }
  .col-sm-8 {
    width: 66.66667%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.33333%;
  }
  .col-sm-11 {
    width: 91.66667%;
  }
  .col-sm-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 720px) {
  .col-md-1 {
    width: 8.33333%;
  }
  .col-md-2 {
    width: 16.66667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33333%;
  }
  .col-md-5 {
    width: 41.66667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33333%;
  }
  .col-md-8 {
    width: 66.66667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.33333%;
  }
  .col-md-11 {
    width: 91.66667%;
  }
  .col-md-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 960px) {
  .col-lg-1 {
    width: 8.33333%;
  }
  .col-lg-2 {
    width: 16.66667%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33333%;
  }
  .col-lg-5 {
    width: 41.66667%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33333%;
  }
  .col-lg-8 {
    width: 66.66667%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.33333%;
  }
  .col-lg-11 {
    width: 91.66667%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 1140px) {
  .col-xl-1 {
    width: 8.33333%;
  }
  .col-xl-2 {
    width: 16.66667%;
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-4 {
    width: 33.33333%;
  }
  .col-xl-5 {
    width: 41.66667%;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-7 {
    width: 58.33333%;
  }
  .col-xl-8 {
    width: 66.66667%;
  }
  .col-xl-9 {
    width: 75%;
  }
  .col-xl-10 {
    width: 83.33333%;
  }
  .col-xl-11 {
    width: 91.66667%;
  }
  .col-xl-12 {
    width: 100%;
  }
}

body {
  font-family: "Muli";
  background-color: white;
}

.navbar {
  background-color: rgba(43, 86, 129, 0);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #eee;
  font-size: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 100;
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-weight: 900;
  padding: 0 20px;
}

.navbar::before {
  content: '';
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-box-shadow: 0px 0px 100px 100px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 100px 100px rgba(0, 0, 0, 0.75);
}

.navbar .logo-wrappper a {
  color: #eee;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  min-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.navbar .logo-wrappper a .hop-logo {
  width: 30px;
  margin: 0 10px;
}

.navbar .navbar-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: flex-end;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar .navbar-list li {
  padding-left: 30px;
}

.navbar .navbar-list li a {
  color: #eee;
  position: relative;
}

.navbar .navbar-list li a::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 50%;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  height: 3px;
  width: 0%;
  background-color: #eee;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}

.navbar .navbar-list li a:hover::before {
  width: 100%;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}

.navbar .hamburger-wrapper {
  display: none;
}

.navbar.scrolled {
  background-color: #2b5681;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navbar.scrolled .logo-wrappper {
  min-height: 80px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.slider-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  max-height: 100vh;
}

.slider-wrapper .slider {
  position: relative;
  z-index: -10;
}

.slider-wrapper .slider img {
  position: absolute;
  display: block;
  width: 100%;
  height: auto;
}

.slider-wrapper .slider .slide {
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.slider-wrapper .slider .active {
  z-index: 100;
}

.slider-wrapper .slider .toRightOut {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.slider-wrapper .slider .toLeftOut {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

@-webkit-keyframes toRightIn {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes toRightIn {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.slider-wrapper .slider .toRightIn {
  -webkit-animation: toRightIn 1s ease-in-out;
          animation: toRightIn 1s ease-in-out;
}

@-webkit-keyframes toLeftIn {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes toLeftIn {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.slider-wrapper .slider .toLeftIn {
  -webkit-animation: toLeftIn 1s ease-in-out;
          animation: toLeftIn 1s ease-in-out;
}

.slider-wrapper .btn-slide-next,
.slider-wrapper .btn-slide-prev {
  outline: 0;
  border: none;
  opacity: 1;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 40px;
  height: 60px;
  cursor: pointer;
  background-color: rgba(43, 86, 129, 0);
}

.slider-wrapper .btn-slide-next::before, .slider-wrapper .btn-slide-next::after,
.slider-wrapper .btn-slide-prev::before,
.slider-wrapper .btn-slide-prev::after {
  content: '';
  height: 4px;
  width: 50%;
  background-color: #eee;
  position: absolute;
  border-radius: 10px;
}

.slider-wrapper .btn-slide-next {
  right: 0;
}

.slider-wrapper .btn-slide-next::before {
  left: 25%;
  top: 37%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.slider-wrapper .btn-slide-next::after {
  left: 25%;
  bottom: 37%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.slider-wrapper .btn-slide-prev::before {
  left: 25%;
  top: 37%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.slider-wrapper .btn-slide-prev::after {
  left: 25%;
  bottom: 37%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.slider-wrapper:hover #nextSlide {
  opacity: 1;
}

.section-title {
  text-align: center;
  font-size: 34px;
  padding-top: 30px;
  padding-bottom: 20px;
}

.card-wrapper {
  position: relative;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  margin: 10px;
}

.card-wrapper .card .img-wrapper {
  height: 300px;
}

.card-wrapper .card .img-wrapper img {
  height: 100%;
}

.card-wrapper .card .beer-name {
  padding: 10px;
  font-size: 20px;
}

.card-wrapper .card .beer-style {
  padding-bottom: 10px;
}

.card-wrapper .card-overlay {
  position: absolute;
  background-color: #2b5681;
  color: #eee;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
}

.card-wrapper .card-overlay p {
  padding: 5px;
  font-size: 20px;
}

.card-wrapper:hover .card-overlay {
  opacity: 0.9;
}

#contact {
  background-color: #2b5681;
  color: #eee;
}

#contact .container .contact-info {
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding-right: 10px;
}

#contact .container .contact-info p {
  padding-top: 5px;
}

#contact .container .contact-form {
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#contact .container .contact-form .form-control {
  padding: 10px;
  margin-bottom: 20px;
  border: transparent;
}

#contact .container .contact-form .form-control:focus {
  -webkit-box-shadow: 0px 0px 10px #88c5ff;
          box-shadow: 0px 0px 10px #88c5ff;
  outline: none;
}

#contact .container .contact-form textarea {
  min-height: 100px;
  resize: none;
}

#contact .container .contact-form button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background: none;
  color: #eee;
  border: 2px solid;
  cursor: pointer;
  text-transform: uppercase;
  position: relative;
  font-size: 16px;
  font-weight: 700;
  padding: 10px;
}

#contact .container .contact-form button:focus {
  outline: none;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

#contact .container .contact-form button::before,
#contact .container .contact-form button::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 2px;
  background-color: #2b5681;
  -webkit-transform: skewX(-45deg);
          transform: skewX(-45deg);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#contact .container .contact-form button::before {
  top: -2px;
  left: 10%;
}

#contact .container .contact-form button::after {
  bottom: -2px;
  right: 10%;
}

#contact .container .contact-form button:hover::before {
  left: 80%;
}

#contact .container .contact-form button:hover::after {
  right: 80%;
}

#about-us {
  background-color: #2b5681;
  color: #eee;
}

#about-us .container p {
  font-size: 20px;
  text-align: justify;
}

#about-us .container p:nth-child(3) {
  padding-top: 20px;
  font-size: 23px;
}

.footer {
  background-color: black;
  text-align: center;
  color: #eee;
}

.footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer ul a {
  color: #eee;
  display: block;
  padding: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.footer ul a:hover {
  color: #3c6792;
}

.footer ul .hop-logo {
  width: 30px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.footer ul .hop-logo:hover {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

.footer .socials {
  font-size: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .socials a {
  color: white;
}

.footer .socials .fab {
  margin: 0 20px;
  cursor: pointer;
  display: block;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.footer .socials .fa-facebook-f:hover {
  color: #3b5998;
}

.footer .socials .fa-twitter:hover {
  color: #1da1f2;
}

.footer .socials .fa-instagram:hover {
  color: #c32aa3;
}

.footer .copy-right {
  padding: 20px 0;
}

@media only screen and (max-width: 540px) {
  #about-us .container p {
    text-align: center;
  }
}

@media only screen and (max-width: 540px) {
  #contact .container .contact-info {
    text-align: center;
    padding-bottom: 20px;
    padding-right: 0;
  }
  #contact .container .form-wrapper .contact-form {
    padding-left: 0;
  }
  #contact .container .form-wrapper .contact-form button {
    width: 100%;
  }
}

@media only screen and (max-width: 540px) {
  .footer ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 960px) {
  .slider-wrapper {
    margin-top: 100px;
  }
  .navbar {
    position: fixed;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    background-color: #2b5681;
    min-width: 100px;
  }
  .navbar .navbar-list {
    width: 100%;
  }
  .navbar .hamburger-wrapper {
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 50px;
    right: 15px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    cursor: pointer;
  }
  .navbar .hamburger-wrapper .hamburger {
    width: 100%;
    height: 4px;
    background-color: #eee;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .navbar .hamburger-wrapper .hamburger::before {
    content: '';
    position: absolute;
    top: -13px;
    width: 100%;
    height: 4px;
    background-color: #eee;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .navbar .hamburger-wrapper .hamburger::after {
    content: '';
    position: absolute;
    top: 13px;
    width: 100%;
    height: 4px;
    background-color: #eee;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .navbar .hamburger-wrapper.active .hamburger {
    background: 0, 0, 0, 0;
  }
  .navbar .hamburger-wrapper.active .hamburger::before {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 50%;
  }
  .navbar .hamburger-wrapper.active .hamburger::after {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 50%;
  }
  .navbar .navbar-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 0;
    overflow: hidden;
    -webkit-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
  }
  .navbar .navbar-list li {
    text-align: center;
    padding: 20px 20px;
  }
  .navbar .navbar-list.active {
    height: 100vh;
    padding-bottom: 100px;
  }
}
/*# sourceMappingURL=main.css.map */