$sm: 540px;
$md: 720px;
$lg: 960px;
$xl: 1140px;




.container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    align-items: center;

}


@media only screen and (min-width: 0px)  {
    @for $i from 1 through 12 {
        .col-#{xs}-#{$i} {
            width: 100%/12*$i;
        }
    }
}


@media only screen and (min-width: $sm)  {
    @for $i from 1 through 12 {
        .col-#{sm}-#{$i} {
            width: 100%/12*$i;
        }
    }
}

@media only screen and (min-width: $md)  {
    @for $i from 1 through 12 {
        .col-#{md}-#{$i} {
            width: 100%/12*$i;
        }
    }
}

@media only screen and (min-width: $lg)  {
    @for $i from 1 through 12 {
        .col-#{lg}-#{$i} {
            width: 100%/12*$i;
        }
    }
}

@media only screen and (min-width: $xl)  {
    @for $i from 1 through 12 {
        .col-#{xl}-#{$i} {
            width: 100%/12*$i;
        }
    }
}








