$navbar-bg-color: rgba($color: #2b5681, $alpha: 0);
$navbar-bg-color2: rgba($color: #2b5681, $alpha: 0.95);
$navbar-font-color: #eee;
$card-color: #3c6792;
$body-color: white;
$navbar-font-size: 30px;
$navbar-height: 100px;
$navbar-height2: 80px;

$footer-bg-color: #2b5681;
$footer-font-color: #eee;

$aboutUs-bg-color: #2b5681;
$aboutUs-font-color: #eee;



$sm: 540px;
$md: 720;
$lg: 960px;
$xl: 1140px;
